/* .container {
  background-color: hsl(220, 13%, 15%);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem 0;
} */

.canvas {
  width: 100%;
  height: 100%;
  background-color: hsl(220, 13%, 18%);
  border-radius: 4px;
}
